<!doctype html>
<html ng-app="squirrelApp">
    <head>
        <meta charset="utf-8">
        <title>Squirrel</title>
    </head>
    <body ng-cloak>
        <div class="page" ng-controller="squirrelCtrl">
            <div class="btn-group">
                <button class="btn btn-default squirrel-btn" ng-click="fetchData()">Refresh</button>
                <button class="btn btn-default squirrel-btn" ng-click="deleteAll()">Clear All</button>
            </div>
            <div class="windowContainer">
                <div ng-show="tabs" class="tabContainer">
                    <p class="data" ng-repeat="tab in tabs">
                        <img src="{{tab.favicon}}"/>
                        <button class="btn-link" ng-click="openTab(tab.url)">{{tab.title}}</button>
                        <br/>
                        <small>{{tab.url}}</small>
                    </p>
                </div>
                <div ng-hide="tabs">
                    <p>No tabs</p>
                </div>
            </div>
        </div>
    </body>
</html>
