[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {display: none;}
.page {margin: 50px; 20px;}
.squirrel-btn {margin-bottom: 30px}
.windowContainer {font-family: "Lucida Grande","Lucida Sans Unicode","DejaVu Sans",Lucida,Arial,Helvetica,sans-serif;}
.windowContainer {}
.tabContainer {}
