[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {display: none;}
.page {margin: 50px; 20px;}
.squirrel-btn {margin-bottom: 30px}
.windowContainer {font-family: "Lucida Grande","Lucida Sans Unicode","DejaVu Sans",Lucida,Arial,Helvetica,sans-serif;}
.windowContainer {}
.tabContainer {}
.favicon {height: 16px; width: 16px;}
.tab-action {width: 300px;}
.tab-url {padding: 0px 10px;}
.tab-btn:hover {text-decoration: none;}
.tab-actions-hidden {display: none;}
.btn-small {font-size: 75%;}
.group-details {margin-bottom: 35px;}
.tab-details {height:25px; line-height: 25px;}
